{
  "root": true,
  "extends": ["finn", "finn/node", "finn-prettier"],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "overrides": [
    {
      "files": "test/**/*",
      "env": {
        "jest": true
      }
    }
  ]
}
