html{
	font-family: Helvetica Neue, Helvetica, Arial;
	margin: 0;
	background-color: #fff8e8;
}

.podium{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	margin:10px;

	h1{
		color: #205a3b;
	}

	.status{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top:-10px;
		margin-bottom:20px;
		font-size: 12px;

		p{
			font-weight: 600;
		}
	}
}

.topbar{
	justify-content: space-between;
	display: flex;
	background-color: white;
	flex-direction: column;
	padding:20px 40px 20px 40px;
	border-radius: 20px;

	h2{
		margin:0;
	}

	.actions{
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		@media (max-width: 600px) {
			flex-direction: column;
			justify-content: center;
		}
	}
}


#settings{
	margin:0;
	display: none;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	div{
		padding:15px 0 15px 0;
		flex-direction: row;
		text-align: left;
		display: flex;

		label{
			font-weight: 500;
			margin:5px;
			display: flex;
			flex-direction: column;
			color: #2B2B2B
		}

		select, input{
			border-radius: 5px;
			border: 1px solid lightgray;
			padding:10px;
		}
		input{
			width:80px;
		}
	}

	button{
		background-color: #d7ae12;
		color: #231d02;
		align-self: center;
		height:38px;
		padding:5px 15px 5px 15px;
		font-size: 16px;
		border: none;
		margin-left:10px;
		font-weight: bold;
		border-radius: 4px;
		justify-self: center;
	}
	button:hover{
		background-color: #a3820f;
		cursor: pointer;
	}
}


#connection{
	form{
		display:flex;
		flex-direction: row;
	}

	div{
		font-weight: 500;
		margin-bottom: 5px;
		color: #2B2B2B;
		display: flex;
		width:250px;
		flex-direction: row;
	}

	input{
		border-radius: 5px;
		border: 1px solid lightgray;
		padding:10px;
	}
	button{
		background-color: #d7ae12;
		color: #231d02;
		align-self: end;
		height:38px;
		padding:5px 10px 5px 10px;
		font-size: 16px;
		border: none;
		margin-left:10px;
		font-weight: bold;
		border-radius: 4px;
		justify-self: center;
	}
	button:hover{
		background-color: #a3820f;
		cursor: pointer;
	}
}

#podlets{
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	gap:10px;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	article{
		max-width: 600px;
		margin-top:30px;
		background-color: white;
		border-radius: 10px;

		h2{
			padding:13px;
			margin:0;
			text-align: center;
			background-color: #5d826c;
			overflow: hidden;
			color:white;
			border-radius: 10px 10px 0 0;
		}
	}


	form{
		margin:20px;
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 10px;

		div{
			width: 100%;
			display: flex;
			flex-direction: column;

			label{
				font-weight: 500;
				margin-bottom: 5px;
				color: #2B2B2B
			}

			input{
				border-radius: 5px;
				border: 1px solid lightgray;
				padding:10px;

			}

		}

		button{
			background-color: #d7ae12;
			color: #231d02;
			padding:15px 20px 15px 20px;
			font-size: 16px;
			border: none;
			font-weight: bold;
			border-radius: 10px;
			grid-column: 1 / -1;
			margin-top:20px;
			justify-self: center;

		}
		button:hover{
			background-color: #a3820f;
			cursor: pointer;
		}
	}
}


